
<header class="p-3 bg-dark text-white" id="webhead">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <h1 class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">My Drive</h1>
      <div class="text-end" >
        <button type="button"  class="btn btn-info btn-lg" style="margin-right: 10px;"   routerLink="/files"
          class="btn btn-warning">Add files</button>
         
      </div>
      <div>
        <button routerLink="/login"  class="btn btn-warning">Logout</button>
      </div>
    </div>
  </div>
</header> 
<div class="jumbotron jumbotron-fluid mt-5">
  <div class="container ">
    <h1 class="display-4">Upload File</h1>
    <input class="form-control form-control-lg" type="file" (change)="onChange($event)">
    <button (click)="onLoading()"   class="btn btn-primary mt-2">Upload</button>
  </div>
</div>
<div class="container text-center" *ngIf="shortLink">
  <h2>Visit here</h2>
  <a href="{{shortLink}}" target="_blank">{{shortLink}}</a>
</div>
<div class="container" *ngIf="loading">
  <h3>Loading...</h3>
</div>